<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Spending</title>
</head>
<body>
    <h1>Add Spending</h1>

    <form method="POST" action="{{ url_for('routes.add_spending') }}">
        <label for="category">Category:</label><br>
        <select id="category" name="category" required>
            {% if categories %}
                {% for category in categories.keys() %}  <!-- Используем .keys() -->
                    <option value="{{ category }}">{{ category }}</option>
                {% endfor %}
            {% else %}
                <option value="" disabled>No categories available</option>
            {% endif %}
        </select><br><br>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" step="0.01" required><br><br>

        <button type="submit">Add Spending</button>
    </form>
    <br>
    <a href="{{ url_for('routes.home') }}">Back to Home</a>
</body>
</html>
