<!DOCTYPE html>
<html lang="{{ 'ru' if session.get('lang') == 'ru' else 'en' }}">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
  <meta charset="UTF-8">
  <title>{% if session.get('lang') == 'ru' %}История{% else %}History{% endif %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/history.css') }}">
</head>
<body>
  {% include 'side_menu.html' %}

  <h1>{% if session.get('lang') == 'ru' %}История{% else %}History{% endif %}</h1>

  {% if summaries|length == 0 %}
    <div class="empty-message">{% if session.get('lang') == 'ru' %}История пуста{% else %}History is empty{% endif %}</div>
  {% else %}
    {% if session.get('lang') == 'ru' %}
        {% set monthNames = {1:"Январь", 2:"Февраль", 3:"Март", 4:"Апрель", 5:"Май", 6:"Июнь", 7:"Июль", 8:"Август", 9:"Сентябрь", 10:"Октябрь", 11:"Ноябрь", 12:"Декабрь"} %}
    {% else %}
        {% set monthNames = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"} %}
    {% endif %}
    {% for summary in summaries %}
      {% set dynamic = summary.total_limit - summary.total_spent %}
      {% if dynamic > 0 %}
        {% set dynamic_display = "+" ~ dynamic %}
        {% set dynamic_color = "#28a745" %}
      {% elif dynamic < 0 %}
        {% set dynamic_display = dynamic %}
        {% set dynamic_color = "#dc3545" %}
      {% else %}
        {% set dynamic_display = dynamic %}
        {% set dynamic_color = "#87CEEB" %}
      {% endif %}
      <div class="summary-block">
        <div class="header-left">{{ monthNames[summary.month] }} {{ summary.year }}</div>
        <div class="summary-row">
          <div class="summary-item">
            <span class="shifted-text">{% if session.get('lang') == 'ru' %}Потрачено: {{ summary.total_spent }}{% else %}Spent: {{ summary.total_spent }}{% endif %}</span>
          </div>
          <div class="summary-item" style="color: {{ dynamic_color }};">
            <span class="shifted-text">{% if session.get('lang') == 'ru' %}Динамика: {{ dynamic_display }}{% else %}Dynamic: {{ dynamic_display }}{% endif %}</span>
          </div>
          <div class="summary-item">
            <a href="{{ url_for('routes.history_detail', year=summary.year, month=summary.month) }}" class="view-button">{% if session.get('lang') == 'ru' %}Подробнее{% else %}View{% endif %}</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</body>
</html>
