<!DOCTYPE html>
<html lang="{{ 'ru' if session.get('lang') == 'ru' else 'en' }}">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if session.get('lang') == 'ru' %}Вход в аккаунт{% else %}Login{% endif %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
  <img class="logo" src="{{ url_for('static', filename='images/Name.png') }}" alt="Logo">

  <div class="login-container">
    <h1>{% if session.get('lang') == 'ru' %}Вход{% else %}Login{% endif %}</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class="flash-messages">
          {% for category, message in messages %}
            <div class="flash-message {{ category }}">{{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="{{ url_for('routes.login') }}">
      <input type="email" name="email" placeholder="{% if session.get('lang') == 'ru' %}Электронная почта{% else %}Email{% endif %}" required>
      <input type="password" name="password" placeholder="{% if session.get('lang') == 'ru' %}Пароль{% else %}Password{% endif %}" required>
      <button type="submit">{% if session.get('lang') == 'ru' %}Войти{% else %}Login{% endif %}</button>
    </form>

    <a href="{{ url_for('routes.reset_password_request') }}">
      {% if session.get('lang') == 'ru' %}Забыли пароль?{% else %}Forgot password?{% endif %}
    </a>
    <a href="{{ url_for('routes.register') }}">
      {% if session.get('lang') == 'ru' %}Нет аккаунта? Зарегистрируйтесь{% else %}Don't have an account? Register here{% endif %}
    </a>
    <a class="link" href="{{ url_for('routes.switch_language') }}">
      {% if session.get('lang') == 'ru' %}
        Сменить язык (English)
      {% else %}
        Switch language (Русский)
      {% endif %}
    </a>
  </div>
</body>
</html>
