<!DOCTYPE html>
<html lang="{{ 'ru' if session.get('lang') == 'ru' else 'en' }}">
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/background.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if session.get('lang') == 'ru' %}Регистрация{% else %}Register{% endif %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
  <img class="logo" src="{{ url_for('static', filename='images/Name.png') }}" alt="Logo">

  <div class="register-container">
    <h1>{% if session.get('lang') == 'ru' %}Регистрация{% else %}Register{% endif %}</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('routes.register') }}">
      <input type="email" id="email" name="email" placeholder="{% if session.get('lang') == 'ru' %}Электронная почта{% else %}Email{% endif %}" required>
      <input type="password" id="password" name="password" placeholder="{% if session.get('lang') == 'ru' %}Пароль{% else %}Password{% endif %}" required>
      <input type="password" id="confirm_password" name="confirm_password" placeholder="{% if session.get('lang') == 'ru' %}Подтвердите пароль{% else %}Confirm Password{% endif %}" required>
      <button type="submit">{% if session.get('lang') == 'ru' %}Зарегистрироваться{% else %}Register{% endif %}</button>
    </form>
    <a class="link" href="{{ url_for('routes.login') }}">
      {% if session.get('lang') == 'ru' %}
        Уже есть аккаунт? Войдите
      {% else %}
        Already have an account? Log in here
      {% endif %}
    </a>
    <br>
    <a class="link" href="{{ url_for('routes.switch_language') }}">
      {% if session.get('lang') == 'ru' %}
        Сменить язык (English)
      {% else %}
        Switch language (Русский)
      {% endif %}
    </a>
  </div>
</body>
</html>
